*.a
*.core
*.gz
*.in
*.log
*.o
*.trs
*~
.deps/
.DS_Store
Makefile

.*.s[a-v][a-z]
.*.sw[a-p]

/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/confdefs.h
/config.guess
/config.log
/config.status
/config.sub
/configure
/conftest*
/coverage*
/depcomp
/docs
/INSTALL
/install-sh
/missing
/test-driver
